*{
    margin: 0
    padding: 0
    list-style; none
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family:"El Mesiri",sans-serif; ;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("./font/proximanova_regular.ttf");
}
body{
    font-family: "Proxima Nova";
}